.header-wrapper.pantry-list{
    display:flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width:1200px){

    .column.pantry-list{
        width: 450px;
    }

  }

@media screen and (max-width:900px){
    .add-pantry-item.pantry-list{
      width: 450px;
      height:250px;
    }
    .column.pantry-list{
        width: 450px;
    }

  }
