:root {
    --bg: #427AA1;
    --card-bg: #041221;
  }
  
  body {
    background: var(--bg);
  }
  
  .box {
  
    background: var(--card-bg);
  }
  
  
  input::placeholder {
    color: antiquewhite;
  }
  
  .navbar {
    background: var(--card-bg);
  }
  
  .navbar-item {
    color: ghostwhite;
  }
  
  /* Card start*/
  .card {
    overflow: hidden;
    background: #EBF2FA;
  }
  
  .card.large {
    border-radius: 5px;
  }
  
  .title.no-padding {
    margin-bottom: 0 !important;
  }
  
  .footer {
    background: var(--card-bg);
    color: ghostwhite;
  }
  
  .footer p,
  strong {
    color: ghostwhite
  }
  
  .footer a:hover {
    color: crimson;
  }
  
  .fa {
    color: ghostwhite;
    margin: 10px
  }
  
  .card-image{
      border: 2px solid black;
  }
  
  a{
    color:darkblue;
  }



.add-pantry-item{
    height:80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.media-content{
    min-height:100px;
    flex-direction: column;
    align-items:flex-start;
}

#column{
    width: 700px;
}

.list-item{
    display:block;
    margin:10px;
}

.instructions{
    color:black;
}

.title{
  padding-top:15px;
}


#search-recipe-image{
  height:250px;
  width:250px;
}

.columns.search-recipe-show{
  display:flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}

.ingredient-instruction-wrapper.search-recipe-show{
  display:flex;
  flex-direction: row;
  gap:25px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
}

.columns.search-recipe-show.instruction{
  margin-top:-12px;
}

.row.search-recipe-show,.column.search-recipe-show{
  width: 550px;
}

.media-content.search-recipe-show{
  min-height: 0;
  display:flex;
  flex-direction: column;
  align-items:flex-start
}

.instruction-container.search-recipe-show{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top:15px;
}

.instructions.search-recipe-show{
  position:inherit;
}

.title.search-recipe-show{
  font-size: 50px;
  padding-top:0;
  color: #EBF2FA;
}

@media screen and (max-width:900px){
  .row.search-recipe-show,.column.search-recipe-show{
    width: 450px;
  }
}
