.title.userfriend-recipe-index{
    font-size: 50px;
}

.column.friend-recipe-index-card{
    width: 350px;
}
.column.userfriend-recipe-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .media-content.friend-recipe-index{
    min-height:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
  }

.title.friend-recipe-index{
    padding-top:0;
}

