html {
  position: relative;
  min-height: 100%;
  background-color: #427AA1; 
}
:root {
  --bg: #427AA1;
  --background: #EBF2FA;
  --textColor: #363636;
  --card-bg: #041221;
}

body {
  background-color: #427AA1; 
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

#body{
  background-color: #427AA1; 
  height:100%
}


@media screen and (min-width: 769px){
  overflow-x: clip;

}

/* overriding bulma.. */
.columns{
  margin-top: 0px;
}
.columns:last-child{
  margin-bottom: 0px;
}
/* overriding bulma.. */



.media-content {
  overflow-x: clip; 
}

input {
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 10px;

}

span {
  font-weight: 700;
}

img {
  object-fit: cover;
}


