:root {
    /* --bg: #c5f1ce; */
    --bg: #427AA1;
    /* --card-bg: #041221; */
    --card-bg: #041221;
  }
  
  body {
    background: var(--bg);
  }
  
  .box {
  
    background: var(--card-bg);
  }
  
  
  input::placeholder {
    color: antiquewhite;
  }
  
  .navbar {
    background: var(--card-bg);
  }
  
  .navbar-item {
    color: ghostwhite;
  }
  
  /* Card start*/
  .card {
    overflow: hidden;
    background: #EBF2FA;
  }

  .column.home-card{
    width:350px;
    flex-grow:0;
    flex-shrink:0;
    flex-basis: 350px;

 
  }
  
  .card.large {
    border-radius: 5px;

  }
  .large.home-card{
    height: 270px;
  }
  .title.no-padding {
    margin-bottom: 0 !important;
  }
  
  .footer {
    background: var(--card-bg);
    color: ghostwhite;
  }
  
  .footer p,
  strong {
    color: ghostwhite
  }
  
  .footer a:hover {
    color: crimson;
  }
  
  .fa {
    color: ghostwhite;
    margin: 10px
  }
  
  .card-image{
      border: 2px solid black;
  }
  
  .home-anchor{
    color:#0d6efd;
  }
  
  #add-recipe{
    text-align:center;
    font-size:20px;
    width: 200px;
    background-color: #EBF2FA;
    border-radius: 10px;
  }

  .media-content{
    
  }
  .has-text-centered{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      flex-wrap: wrap;
      
  }

  .home-title-text{
    margin-top: 20px;
      align-self: center;
      color: #363636;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.45;
 
  }

  .home-title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
  }

  .kitchen-icon-left{
      align-self:flex-start;
  }

  .kitchen-icon-right{
    align-self:flex-end;
}

.columns{
    display:flex;
    flex-direction: row;
    justify-content:center;
}


.row.home-card-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 300px;
  justify-content: center;
}

.home-title-container.columns{
  width:100%
}
.home-title-row{
  flex-basis: 100%;
  flex-wrap:nowrap;
  align-items: center;
}
.home-title-row-item{
  flex-basis:100%;
  height: fit-content;
}
.home-title-row-item.im{
  flex-basis:50%;
}
.title.home-title{
  font-size: 30px;
  vertical-align: center;
  margin-top:0;
}
@media screen and (min-width: 769px){
  .column.home-card{
    width:350px;
  }
  .column.is-4.home-card {
    /* flex: none; */
    flex:auto;
    width:350px;
} 
@media screen and (max-width: 600px) {
  .home-title-row-item.im {
    flex-basis: 100%;
  }
}
.large.home-card{
  height: 200px;
}
.title.home-title{
  font-size: 35px;

}

}

