.va {
    display: flex;
    align-items: center;
  }
  
  :root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }
  
  body {
    background: var(--background);
    /* height: 100vh; */
    color: var(--textDark);
  }
  
  .field:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .register {
    background: white;
    border-radius: 10px;
  }
  
  .left,
  .right {
    padding: 4.5rem;
  }
  
  .left {
    border-right: 5px solid var(--background);
  }
  
  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
  }
  
  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }
  
  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
  }
  
  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }
  
  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }
  
  .right small {
    color: var(--textLight);
  }
  
  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }
  
  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

  .columns.signup-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .subtitle.signup{
    color:salmon
  }

  @media screen and (max-width: 1100px){ 
    
  .columns.signup{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .column.signup{
    padding-top:0;
    border-right:none;
  }
      }
  @media screen and (min-width: 769px){ 
.column.is-offset-2, .column.is-offset-2-tablet {
    margin-left: 5%code;
}
  }